#detail-popup-box{
    display:flex;
    
    width:80%;
    height:50%;
    position:fixed;
    margin-top: -110px;
    margin-left: -40%;
   
    top:50%;
    left:50%;
    
    padding :20px;
    background-color: #191919;
    background-color: solid;
    border-radius: 25px;
    box-shadow: 10px 10px 18px grey;
    border-color:grey;
    border-style: solid;
    overflow:scroll;
    overflow-x:hidden;
}

#detail-popup-box::-webkit-scrollbar{
    display: none;
}

#descrip-poster{
    display: flex;
    flex-direction: row;
}

#close-button{
    position: fixed;
    top: 167px;
    right: 65px;
    background-color: white;
    border-style: none;
    
}

#description{
    width:30%;
    height:40%;
    overflow:hidden;
}