li{
    list-style: none;
    padding: 20px;
    
    
    
}



ul {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    padding: 20px;
}

ul::-webkit-scrollbar{
    display: none;
}
#poster{
    object-fit: contain;
    width: 200px;
    
    
    transition: transform 450ms;
    
    

}

#poster:hover{
   
    transform: scale(1.08);
    
    
}

#detail-poster{
    width:150px;
    object-fit: contain;
    padding : 10px;
}

/* #user-view-button{
    color:white;
    background-color: #111;
    position: fixed;
    top:10px;
    left:200px; */

/* } */