li{
    list-style: none;
    padding: 20px;
    
    
    
}

h2{
    padding-left: 40px;
    margin-bottom: -40px;
}


ul {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    padding: 20px;
}

ul::-webkit-scrollbar{
    display: none;
}
#poster{
    object-fit: contain;
    width: 200px;
    
    
    transition: transform 450ms;
    
    

}

#poster:hover{
   
    transform: scale(1.08);
    
    
}

.user-button{
    /* position: bottom; */
    position: fixed;
    object-fit: contain;
    left: 40px;
    /* right: 100px; */
    /* color: #fff; */
    text-decoration: none;
    margin-bottom: 20px;
}




.detail-poster{
    width:100px;
    object-fit: contain;
    padding : 10px;
}

/* #user-view-button{
    color:white;
    background-color: #111;
    position: fixed;
    top:10px;
    left:200px; */

/* } */